apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "cipherguard.fullname" . }}
  labels:
    {{- include "cipherguard.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "cipherguard.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: ingress-nginx
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: nginx-ingress
      ports:
        - protocol: TCP
          port: 8000
    - from:
        - podSelector:
            matchLabels:
              {{- include "cipherguard.selectorLabels" . | nindent 14 }}
      ports:
        - protocol: TCP
          port: 8000
        - protocol: TCP
          port: 8003
  egress:
    - to:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: kafka
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: redis
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: postgresql
      ports:
        - protocol: TCP
          port: 9092
        - protocol: TCP
          port: 6379
        - protocol: TCP
          port: 5432
    - to: []
      ports:
        - protocol: TCP
          port: 53
        - protocol: UDP
          port: 53